html, body {
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	margin: auto auto;
}
#menu-container {
	width: 51%;
}

.cat {
	height: 320px;
	width: 50%;

}

.cat-pic {
	width: 100%;
	max-width: 400px;
	height: 90%;
}

.cat-count {
	margin: 0;
	padding: 0;
	height: 10%;
}

#adminForm {
	display: None;
}

